{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "editor.tabSize": 2,
  "editor.insertSpaces": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "useTabs": false
}